*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.montserrat{
    font-family: "Montserrat", sans-serif;
}

.sen{
    font-family: "Sen", sans-serif;
}

.playfare{
    font-family: "Playfair Display", serif;
}

.playfare-it{
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.poppins{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.lightg{
    color: #7A7A7A;
}

.lightg-bg{
    background: #7A7A7A;
}

.brown-c{
    color: #AE441D;
}

.bg-bl{
    background: #202020;
}