*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.montserrat{
    font-family: "Montserrat", sans-serif;
}

.sen{
    font-family: "Sen", sans-serif;
}

.playfare{
    font-family: "Playfair Display", serif;
}

.playfare-it{
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.poppins{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.lightg{
    color: #7A7A7A;
}

.lightg-bg{
    background: #7A7A7A;
}

.brown-c{
    color: #AE441D;
}

.bg-bl{
    background: #202020;
}

 
.hero-img-f, .hero-img-s {
    filter: blur(10px);  
    transform: translateY(100px);  
    opacity: 0.3;  
    transition: filter 1.5s ease, opacity 1.5s ease, transform 1.5s ease;  
}

.fully-visible {
    filter: none;  
    opacity: 1;  
    transform: translateY(0); 
}

.fist-part {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.nav a, .choose, .des, .des-two {
    opacity: 0;
    transform: translateY(30px);  
}

.photo-t, .visual {
    opacity: 0;
    transform: translateY(50px);  
}

 