*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.montserrat{
    font-family: "Montserrat", sans-serif;
}

.sen{
    font-family: "Sen", sans-serif;
}

.playfare{
    font-family: "Playfair Display", serif;
}

.playfare-it{
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.poppins{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.lightg{
    color: #7A7A7A;
}

.lightg-bg{
    background: #7A7A7A;
}

.brown-c{
    color: #AE441D;
}

.bg-bl{
    background: #202020;
}

 
.hero-img-f, .hero-img-s {
    filter: blur(10px); /* Initial blur */
    transform: translateY(100px); /* Start lower, off-screen */
    opacity: 0.3; /* Start faded out */
    transition: filter 1.5s ease, opacity 1.5s ease, transform 1.5s ease; /* Smooth transition for blur, opacity, and movement */
}

.fully-visible {
    filter: none; /* Remove blur */
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Bring to the middle */
}

.fist-part {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.nav a, .choose, .des, .des-two {
    opacity: 0;
    transform: translateY(30px); /* Start with slight downward movement */
}

.photo-t, .visual {
    opacity: 0;
    transform: translateY(50px); /* Start with slight downward movement */
}

 